@media (min-width: 0px){
	body{
		background-color: white;
	}
	nav ul li{
		display: block;
		float: left;
		width: 50%;
	}
	img{
		width: 100%;
		height: auto;
	}
	[class*="col-"]{ /*selector de atributos*/
		width: 100%;
	}
}

@media (min-width: 320px){
	body{
		background-color: red;
		color: white;
	}
}

@media (min-width: 360px){
	body{
		background-color: blue;
	}
}

@media (min-width: 555px){
	nav ul li{
		display: inline;
		float: none;
	}
}

@media (min-width: 768px){
	body{
		background-color: orange; 
	}
	nav ul li{
		display: inline;
		float: none;
	}
	img{
		width: 50%;
		float: left;
		margin-right: 20px
	}
	.col-m-1{ width: 8.333%; }
	.col-m-2{ width: 16.666%; }
	.col-m-3{ width: 24.999%; }
	.col-m-4{ width: 33.332%; }
	.col-m-5{ width: 41.665; }
	.col-m-6{ width: 49.998%; }
	.col-m-7{ width: 58.331%; }
	.col-m-8{ width: 66.664%; }
	.col-m-9{ width: 74.997%; }
	.col-m-10{ width: 83.333%; }
	.col-m-11{ width: 91.663%; }
	.col-m-12{ width: 99.996%; }
}

@media (min-width: 800px){
	body{
		background-color: black;
	}
	.col-1{ width: 8.333%; }
	.col-2{ width: 16.666%; }
	.col-3{ width: 24.999%; }
	.col-4{ width: 33.332%; }
	.col-5{ width: 41.665; }
	.col-6{ width: 49.998%; }
	.col-7{ width: 58.331%; }
	.col-8{ width: 66.664%; }
	.col-9{ width: 74.997%; }
	.col-10{ width: 83.333%; }
	.col-11{ width: 91.663%; }
	.col-12{ width: 99.996%; }
}

@media (min-width: 980px){
	body{
		background-color: green;
	}
}